.LeaderBoard-table {
  border-collapse: collapse;
}

.LeaderBoard-table-row {
  text-align: left;
}

.LeaderBoard-table-row:nth-child(even) {
  background-color: #eee;
}

.LeaderBoard-table-row-item {
  padding: 8px;
}

.LeaderBoard-table-head {
  background-color: #888;
}

.LeaderBoard-table-head-item {
  padding: 8px;
}

.rank-col {
  width: 5%;
}




